.nav-bar {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  color: #fff;
  font-size: 3vh;
  text-decoration: none;
  margin: 1rem;
}

.logo{
  color: #fff;
  margin: 1rem;
  font-weight: 400;
}
.footer{
  background-color: #ccc;
  position: fixed;
  bottom: 0%;
  height: 10vh;
  width: 100%;
}