.container {
  background-color: #82eb8d;
  border: 2px solid #22f237;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 30vw;
}
.main-container {
  margin: auto;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%; 
}
.cross {
  color: #000;
  margin: 0px 4px;
  padding: 0px 4px;
  cursor: pointer;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.empty-box-container {
  display: flex;
  flex-direction: row-reverse;
}

.empty-box {
  display: flex;
  justify-content: baseline;
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: #82eb8d;
  border: 2px solid #22f237;
  border-radius: 50%;
}
